.cardView {
    width: 100%;
    height: 40%;
    position: absolute;
    margin: auto;
    top: 25%;
}

.card {
    width: 35%;
    height: 60%;
    margin: auto;
}

p {
    font-size: 20px
}

.navbar {
    width: 100%;
    height: 5%;
}

.content {
    top: 50%;
}

.cardContent {
    width: 100%;
    height: 20%;
    margin: 3%;
}

.cardContentdescription {
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: 3%;
    text-align: left;
}

.active {
    color: red;
    font-weight: bold;
}

.navbar {
    border-radius: 0;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: rgba(37, 235, 80, 0.418);
}

.cardMaterial {
    width: 50%;
    text-align: left;
    margin-left: 15%;
    /* float: left; */
}

.cardMaterial a:hover {
    text-decoration: none;
    font-size: 30px;
}

.navbarhome {
    width: 100%;
    position: fixed;
    text-align: left;
    height: 7%;
    background-color: #fafafa;
}

.md-padding {
    position: absolute;
    bottom: 0;
    width: 71%;
    left: 14%;
}

.md-subhead {
    color: #000000;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

p {
    font-size: 20px;
}

#editor {
    height: 300px;
    width: 90%;
}

.ql-toolbar {
    width: 90%;
}

.registerPanel {
    width: 100%;
    left: 10%;
}

.loginPanel {
    font-size: 15px;
}

.md-block {
    left: 33%;
    width: 35%;
}

.md-headline {
    color: #3b96f8;
    font-weight: bold;
    font-size: 15px;
}

.notificationContent {
    left: 15%;
    width: 71%;
}

.registerSpan {
    left: 50%;
}

.md-button.md-default-theme.md-accent,
.md-button.md-accent {
    color: #3b96f8;
}

md-nav-bar.md-default-theme md-nav-ink-bar,
md-nav-bar md-nav-ink-bar {
    background-color: #3b96f8;
}

md-card.md-default-theme md-card-header md-card-header-text .md-subhead,
md-card md-card-header md-card-header-text .md-subhead,
md-card.md-default-theme md-card-title md-card-title-text:not(:only-child) .md-subhead,
md-card md-card-title md-card-title-text:not(:only-child) .md-subhead {
    color: #000000;
    font-size: 13px;
}

.actionButtons {
    background-color: #3b96f8;
    color: white;
    font-size: 10px;
}

.actionButtons a:hover {
    background-color: #3b96f8;
}

[ng-click] {
    cursor: pointer;
}

.linearProgress {
    width: 70%;
}

.titleInput {
    left: 15%;
    width: 70%;
}

.radioGroup {
    margin-left: 38%;
}

.movie_buttons {
    margin-right: 15%;
}

.sidebar {
    float: right;
    margin-right: 16%;
    width: 17%;
    height: auto;
    color: black;
    border-width: 2px;
    border-color: #3b96f8;
    border-style: solid;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
}

ul {
    font-size: 12px;
    padding-left: 0px;
    padding-top: 10px;
}

.logoTitle {
    float: right;
    margin-right: 22%;
    margin-top: 11%;
}


/* Smartphones (portrait and landscape) ---------- */

@media screen and (min-width: 320px) and (max-width: 800px) {
    .sidebar {
        float: none;
        margin-right: 16%;
        width: 50%;
        height: auto;
        color: black;
        border-width: 2px;
        border-color: #3b96f8;
        border-style: solid;
        border-radius: 3px;
        padding-top: 10px;
        padding-left: 10px;
        margin-left: 24%;
    }
    .navbarhome {
        height: 20%;
    }
    .logoTitle {
        margin-right: -7%;
    }
}


/* Smartphones (portrait) ---------- */

@media screen and (max-width: 320px) {
    /* styles */
}


/* Smartphones (landscape) ---------- */

@media screen and (min-width: 321px) {
    /* styles */
}

@media screen and (min-width:617) and (max-width:768px) {
    .sidebar {
        float: none;
        margin-right: 16%;
        width: 50%;
        height: auto;
        color: black;
        border-width: 2px;
        border-color: #3b96f8;
        border-style: solid;
        border-radius: 3px;
        padding-top: 10px;
        padding-left: 10px;
        margin-left: 24%;
    }
}


/* Tablets, iPads (portrait and landscape) ---------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles */
}


/* Tablets, iPads (portrait) ---------- */

@media screen and (min-width: 768px) {
    /* styles */
}


/* Tablets, iPads (landscape) ---------- */

@media screen and (min-width: 1024px) {
    /* styles */
}


/* Desktops and laptops ---------- */

@media screen and (min-width: 1224px) {
    /* styles */
}


/* Large screens ---------- */

@media screen and (min-width: 1824px) {
    /* styles */
}