.cardView {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top:0;
    bottom: 0;
    left: 0;
    right: 0;*/
    margin: auto;
    padding-top: 15%;
}

.card {
    width: 35%;
    height: 60%;
    margin: auto;
}

p {
    font-size: 20px
}

.navbar {
    width: 100%;
    height: 5%;
}
.content{
    top: 50%;
}
.cardContent{
    width: 92%;
    height: 30%;
    margin: 3%;
}


/*body{
	background-image: url('../img/login_background.jpg');
}*/