<html>
<link rel="stylesheet" type="text/css" href="./css/home.css">
<md-content>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="data in finalData">
            <div class="md-list-item-text" ng-click="showDailog($event,data)">
                <h4>{{data.title}}</h4>
                <p class="approvalDesc">{{formatText(data.description)}}</p>
            </div>
            <md-button class="md-secondary" ng-click="approvePost(data)">Approve</md-button>
            <md-button class="md-secondary" ng-click="rejectPost(data)">Reject</md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>

</html>