<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>

<body ng-controller="feedbackController">


    <center>
        <h3>Feedback</h3><br>
        <md-radio-group ng-model="feedbackType" layout="row" class="radioGroup">
            <md-radio-button value="Bug" class="md-primary">Bugs/Problems</md-radio-button>
            <md-radio-button value="RequestFeature" class="md-primary"> Request a feature or article </md-radio-button>
            <md-radio-button value="Suggestion" class="md-primary">Suggestions</md-radio-button>
        </md-radio-group>
    </center>
    <br><br>
    <md-input-container class="md-blockinside block">
        <label>Feedback</label>
        <textarea ng-model="feedbackInput" md-maxlength="550" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <br><br>
    <center>
        <md-button class="md-raised md-primary" ng-click="submitFeedback()">Submit</md-button>
    </center>
</body>

</html>