</!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107044558-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-107044558-6');
    </script>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.7.6/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.7.6/angular-route.js"></script>
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller='homeController'>
    <center>
        <div class="navbarhome">
            <md-content class="md-padding">
                <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="navItem" nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-sref="Home.Posts" name="Posts">
                        Posts
                    </md-nav-item>
                    <md-nav-item md-nav-sref="Home.Places" name="Places">
                        Places
                    </md-nav-item>
                    <md-nav-item md-nav-sref="Home.Aliens" name="Aliens">
                        Aliens
                    </md-nav-item>
                    <md-nav-item md-nav-sref="Home.Movies" name="Movies">
                        Movies
                    </md-nav-item>
                    <md-nav-item md-nav-sref="Home.Write" name="WriteStory">
                        Write a story
                    </md-nav-item>
                    <span flex></span>
                    <!-- <a ui-sref="Home.Login" class="md-button"></a> -->
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="openMenu($mdMenu,$event)">
                            <md-icon md-svg-icon="img/avatar.svg"></md-icon>
                        </md-button>
                        <md-menu-content width={{number}}>
                            <!-- <md-menu-item ng-show="showUserOptions">
                                <md-button>Account</md-button>
                            </md-menu-item> -->
                            <md-menu-item ng-show="showUserOptions">
                                <md-button ng-click="goToNotifications()">Notifications</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="showUserOptions">
                                <md-button ng-click="goToFeedback()">Feedback</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="showUserOptions">
                                <md-button ng-click="logout()">Logout</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="showLoginOptions">
                                <md-button ng-click="goToLogin()">Login</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="showLoginOptions">
                                <md-button ng-click="goToRegister();">Register</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-nav-bar>
            </md-content>
        </div>
    </center>
    <div ui-view>

    </div>

</body>

</html>