</!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107044558-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-107044558-6');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.7.6/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.7.6/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <script src="app.js"></script>
</head>

<body ng-controller='hello'>
    <div class="loginPanel">
        <center>
            <md-progress-linear md-mode="indeterminate" class="linearProgress" ng-show="calling"></md-progress-linear>
        </center>



        <center>
            <h4>Admin Login</h4>
        </center>
        <form>
            <md-input-container class="md-block" flex-gt-sm>
                <label class="inputlabel">E-mail</label>
                <input ng-model="email" required id="email" name="email" type="email">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label class="inputlabel">Password</label>
                <input ng-model="password" required id="password" name="password" type="password">
            </md-input-container>

            <center><span>{{message}}</span></center>
            <center>
                <md-button class="md-raised md-primary" ng-click="authenticate()">Login</md-button>
            </center>
        </form>
    </div>

</body>

</html>