<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>

<body ng-controller="moviebody">
    <center>
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        <br>
        <div class="cardMaterial" ng-repeat="o in dataArray">
            <a ui-sref="Home.{{o.movie_id}}" href="Home.{{o.movie_id}}" ui-sref-active="active">
                <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{o.title}}</span>
                            <span class="md-subhead">{{formatText(o.description)}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media"><img src="{{o.image}}"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
            </a>
        </div>
    </center>

    <!-- <div class="card cardContent" ng-model="maincard" ng-repeat="o in dataArray">
        <div class="card-body">
            <a class="nav-link" ui-sref="{{o.movie_id}}" ui-sref-active="active">
                <h4 class="card-title" ng-model="cardtitle">{{o.title}}</h4>
            </a>
            <p class="card-text" ng-model="cardtext">CardText</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div> -->

</body>

</html>