<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107044558-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-107044558-6');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>

<body ng-controller="placebody">

    <center>
        <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
    </center>
    <br>
    <div class="cardMaterial" ng-repeat="o in dataArray">

        <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <!-- <a ui-sref="Home.{{o.place_id}}" href="Home.{{o.place_id}}" ui-sref-active="active"> -->
                    <span class="md-headline" ng-click="goToDescription(o.place_id)">{{o.title}}</span>
                    <!-- </a> -->
                    <span class="md-subhead">{{formatText(o.description)}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media"><img src="{{o.image}}"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="actionButtons" ng-click="likeButton(o.place_id,$index)" value="{{likesCount}}">Likes: {{o.likes_count}}</md-button>
                <md-button class="actionButtons" ng-click="shareButton()" ngclipboard data-clipboard-text="https://mysterieshub.com/#!/Show?id={{o.place_id}}&type=places">Share</md-button>
            </md-card-actions>
        </md-card>

    </div>


    <!-- <div class="card cardContent" ng-model="maincard" ng-repeat="o in dataArray">
        <div class="card-body">
            <a class="nav-link" ui-sref="{{o.place_id}}" ui-sref-active="active">
                <h4 class="card-title" ng-model="cardtitle">{{o.title}}</h4>
            </a>
            <p class="card-text" ng-model="cardtext">CardText</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div> -->

</body>

</html>