<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="postbody">

    <div class="card cardContent" ng-model="maincard" ng-repeat="o in dataArray">
        <div class="card-body">
            <h4 class="card-title" ng-model="cardtitle">{{o.title}}</h4>
            <!-- <p class="card-text" ng-bind-html="o.description"></p> -->
            <a href="#" class="card-link">View Post</a>
            <a href="#" class="card-link">Share</a>
        </div>
    </div>

</body>

</html>