<html>

<head>

</head>

<body ng-controller="registerController">

    <div class="registerPanel">
        <center>
            <md-progress-linear md-mode="indeterminate" class="linearProgress" ng-show=false></md-progress-linear>
        </center>
        <center> <span class="registerSpan"> Register</span></center>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Fullname</label>
            <input ng-model="name" required id="name" name="name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="email" id="email" name="email" required type="email">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input ng-model="password" type="password" required id="password" name="password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input ng-model="cpassword" type="password" required id="cpassword" name="cpassword">
        </md-input-container>
        <center><span>{{message}}</span></center>
        <center>
            <md-button class="md-raised md-primary" ng-click="register()">Register</md-button>
        </center>
    </div>
</body>

</html>